.table-wrapper {
  display: flex;
}

table {
  border-collapse: collapse; /* Merge the borders of adjacent cells */
  width: 100%; /* Make the table take up the full width of its container */
}

th,
td {
  padding: 8px; /* Add some padding to the cells */
  text-align: left; /* Align the text to the left */
  border: 1px solid #ddd; /* Add a border to the cells */
}

tr:nth-child(even) {
  /* Add a background color to every other row */
  background-color: #000000;
}

th {
  /* Make the table header cells bold and centered */
  font-weight: bold;
  text-align: center;
  background-color: #4c78af;
  color: white;
}
