.container {
  width: 80%; /* Set the width of the container */
  margin: 0 auto; /* Center the container horizontally */
  text-align: center; /* Center the content inside the container */
}
.ImplantTableWrapper {
  display: flex;
  margin: 50 10 50 10;
}

.ImplantTable {
  border-collapse: collapse; /* Merge the borders of adjacent cells */
  width: 100%; /* Make the table take up the full width of its container */
}

.ImplantTableData {
  padding: 8px; /* Add some padding to the cells */
  text-align: left; /* Align the text to the left */
  border: 1px solid #ddd; /* Add a border to the cells */
}

.ImplantTable tr:nth-child(even) {
  /* Add a background color to every other row */
  background-color: rgb(76, 76, 76);
}

.ImplantTable td {
  padding: 8px; /* Add some padding to the cells */
  text-align: left; /* Align the text to the left */
  border: 1px solid #ddd; /* Add a border to the cells */
}

.ImplantTable th {
  padding: 8px; /* Add some padding to the cells */
  text-align: left; /* Align the text to the left */
  border: 1px solid #ddd; /* Add a border to the cells */
  font-weight: bold;
  text-align: center;
  background-color: #4c78af;
  color: white;
}
